release/basket.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="apple-touch-icon" href="images/apple-touch-icon-144-precomposed.png" sizes="144x144">
    <link rel="apple-touch-icon" href="images/apple-touch-icon-114-precomposed.png" sizes="114x114">
    <link rel="apple-touch-icon" href="images/apple-touch-icon-72-precomposed.png" sizes="72x72">
    <link rel="apple-touch-icon" href="images/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>РыбаСПБ</title>
  </head>
  <body><div class="first-transition"></div>
<div class="page-transition"></div><div class="search-box">
<div class="inner">
<form>
<input type="search" placeholder="Введите что нужно найти">
<input type="submit" value="Поиск">
</form>
</div>
</div>
<aside class="side-widget">
<div class="inner">
<div class="logo">
<a href="#">Креветка Джо</a>
</div>
<div class="show-mobile">
<div class="site-menu">
<ul>
<li><a href="#">Главная</a></li>
<li><a href="#">Каталог</a></li>
<li><a href="#">О компании</a></li>
<li><a href="#">Доставка и оплата</a></li>
<li><a href="#">Контакты</a></li>
<li class="pt-4"><a class="phone" href="tel:+74951234567">+7 495 123-45-67</a></li>
</ul>
</div>
</div>
<small>© 2020 Креветка Джо</small> 
</div>
</aside>
<nav class="navbar">
<div class="logo">
<a href="#">Креветка Джо</a>
</div>
<div class="custom-menu"><a class="phone" href="tel:+74951234567">+7 495 123-45-67</a></div>
<div class="site-menu">
<ul>
<li><a href="#">Главная</a></li>
<li><a href="#">Каталог</a></li>
<li><a href="#">О компании</a></li>
<li><a href="#">Доставка и оплата</a></li>
<li><a href="#">Контакты</a></li>
</ul>
</div>
<div class="search">
<i class="lni lni-search-alt"></i>
</div>
<div class="hamburger">
<div id="hamburger">
<span></span>
<span></span>
<span></span>
</div>
<div id="cross">
<span></span>
<span></span>
</div>
</div>
<a href="#" class="navbar-button cart-mini"><img class="lazyload" data-src="images/cart.png" alt="Image"> </a> 
</nav>
    <div class="breadcrumb-area"><div class="page-header breadcrumb-area" data-stellar-background-ratio="0.8">
<div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Живой камчатский краб
          </h1><nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Главная</a></li>
<li class="breadcrumb-item"><a href="#">Каталог</a></li>
<li class="breadcrumb-item active" aria-current="page">Крабы</li>
</ol>
</nav>
        </div>
      </div></div>
</div>
    </div>
    <div class="basket">
      <div class="container">
        <div class="row pb-5">
          <div class="col-12">
            <div class="basket__item d-none d-lg-block">
              <div class="row">
                <div class="col-12 col-lg-1"></div>
                <div class="col-12 col-lg-2 "><span class="basket__section">Продукт</span></div>
                <div class="col-12 col-lg-3"></div>
                <div class="col-12 col-lg-2 "><span class="basket__section">Цена</span></div>
                <div class="col-12 col-lg-2 "><span class="basket__section">Количество</span></div>
                <div class="col-12 col-lg-2 "><span class="basket__section">Всего</span></div>
              </div>
            </div>
            <div class="basket__item">
              <div class="row">
                <div class="col-12 col-lg-1 d-flex align-items-center">
                  <div class="basket__delete"><svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="2.28148" y1="3.00146" x2="10.7668" y2="11.4867" stroke="#C58F59" stroke-width="3" stroke-linecap="round"/>
<line x1="10.6064" y1="3.12132" x2="2.12116" y2="11.6066" stroke="#C58F59" stroke-width="3" stroke-linecap="round"/>
</svg>
                  </div>
                </div>
                <div class="col-12 col-lg-2 d-flex align-items-center"><img class="lazyload img-fluid" data-src="images/Crab-PNG-Picture 1.png" alt="img"></div>
                <div class="col-12 col-lg-3 d-flex align-items-center py-3 py-lg-0">
                  <p>Краб камчатский</p>
                </div>
                <div class="col-12 col-lg-2 d-flex align-items-center pb-3 pb-lg-0"><span class="basket__price-one">719 руб.</span></div>
                <div class="col-12 col-lg-2 d-flex align-items-center pb-3 pb-lg-0">
                  <div class="count">
                    <div class="count__minus">-</div>
                    <input type="text" readonly value="1">
                    <div class="count__plus">+</div>
                  </div>
                </div>
                <div class="col-12 col-lg-2 d-flex align-items-center"><span class="basket__price-final">719 руб.</span></div>
              </div>
            </div>
            <div class="basket__item">
              <div class="row">
                <div class="col-12 col-lg-1 d-flex align-items-center">
                  <div class="basket__delete"><svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="2.28148" y1="3.00146" x2="10.7668" y2="11.4867" stroke="#C58F59" stroke-width="3" stroke-linecap="round"/>
<line x1="10.6064" y1="3.12132" x2="2.12116" y2="11.6066" stroke="#C58F59" stroke-width="3" stroke-linecap="round"/>
</svg>
                  </div>
                </div>
                <div class="col-12 col-lg-2 d-flex align-items-center"><img class="lazyload img-fluid" data-src="images/Crab-PNG-Picture 1.png" alt="img"></div>
                <div class="col-12 col-lg-3 d-flex align-items-center py-3 py-lg-0">
                  <p>Краб камчатский</p>
                </div>
                <div class="col-12 col-lg-2 d-flex align-items-center pb-3 pb-lg-0"><span class="basket__price-one">719 руб.</span></div>
                <div class="col-12 col-lg-2 d-flex align-items-center pb-3 pb-lg-0">
                  <div class="count">
                    <div class="count__minus">-</div>
                    <input type="text" readonly value="1">
                    <div class="count__plus">+</div>
                  </div>
                </div>
                <div class="col-12 col-lg-2 d-flex align-items-center"><span class="basket__price-final">719 руб.</span></div>
              </div>
            </div>
            <div class="basket__item">
              <div class="row">
                <div class="col-12 col-lg-1 d-flex align-items-center">
                  <div class="basket__delete"><svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="2.28148" y1="3.00146" x2="10.7668" y2="11.4867" stroke="#C58F59" stroke-width="3" stroke-linecap="round"/>
<line x1="10.6064" y1="3.12132" x2="2.12116" y2="11.6066" stroke="#C58F59" stroke-width="3" stroke-linecap="round"/>
</svg>
                  </div>
                </div>
                <div class="col-12 col-lg-2 d-flex align-items-center"><img class="lazyload img-fluid" data-src="images/Crab-PNG-Picture 1.png" alt="img"></div>
                <div class="col-12 col-lg-3 d-flex align-items-center py-3 py-lg-0">
                  <p>Краб камчатский</p>
                </div>
                <div class="col-12 col-lg-2 d-flex align-items-center pb-3 pb-lg-0"><span class="basket__price-one">719 руб.</span></div>
                <div class="col-12 col-lg-2 d-flex align-items-center pb-3 pb-lg-0">
                  <div class="count">
                    <div class="count__minus">-</div>
                    <input type="text" readonly value="1">
                    <div class="count__plus">+</div>
                  </div>
                </div>
                <div class="col-12 col-lg-2 d-flex align-items-center"><span class="basket__price-final">719 руб.</span></div>
              </div>
            </div>
            <div class="d-flex justify-content-end py-5"><span class="basket__price-final"><b>3 376 руб.</b></span></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 pb-5">
            <h2 class="h2">Ваши контактные данные</h2>
          </div>
          <div class="col-12"><form class="delivery-form" action="" method="POST">
            <div class="row">
              <div class="col-12 col-lg-3 pb-5 pb-lg-0"><input class="input" type="text" placeholder="Ваше имя"></div>
              <div class="col-12 col-lg-3 pb-5 pb-lg-0"><input class="input" type="text" placeholder="Телефон"></div>
              <div class="col-12 col-lg-3 pb-5 pb-lg-0"><select class="minimal">
<option>Доставка</option>
</select>
              </div>
              <div class="col-12 col-lg-3 pb-5 pb-lg-0"><input class="input" type="text" placeholder="Адрес доставки"></div>
              <div class="col-12 pt-5 d-flex justify-content-end">
                <button class="btn" type="submit">Оформить заказ</button>
              </div>
            </div></form>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer"><div class="container ">
<div class="row">
<div class="col-12 col-lg-3 wow fadeIn pb-5 pb-lg-0">
<div class="logo">
<a href="#">Креветка Джо</a>
</div>
</div>
<div class="col-lg-3 col-6 wow fadeIn" data-wow-delay="0.15s">
<ul>
<li><a href="#">Крабы</a></li>
<li><a href="#">Креветки</a></li>
<li><a href="#">Гребешок</a></li>
<li><a href="#">Мидии</a></li>
</ul>
</div>
<div class="col-lg-3 col-6 wow fadeIn" data-wow-delay="0.30s">
<ul>
<li><a href="#">О компании</a></li>
<li><a href="#">Доставка и оплата</a></li>
<li><a href="#">Оптовым покупателям</a></li>
<li><a href="#">Контакты</a></li>
</ul>
</div>
      <div class="col-6 col-lg-3 wow fadeIn pt-5 pt-lg-0" data-wow-delay="0.45s">
        <div class="pb-2"><a class="phone" href="tel:+74951234567">+7 495 123-45-67</a></div>
        <div class="social"><a class="social__item" href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0)">
<path d="M12.145 19.5C15.617 19.5 14.379 17.302 14.647 16.67C14.643 16.198 14.639 15.744 14.655 15.468C14.875 15.53 15.394 15.793 16.466 16.835C18.121 18.505 18.544 19.5 19.881 19.5H22.342C23.122 19.5 23.528 19.177 23.731 18.906C23.927 18.644 24.119 18.184 23.909 17.468C23.36 15.744 20.158 12.767 19.959 12.453C19.989 12.395 20.037 12.318 20.062 12.278H20.06C20.692 11.443 23.104 7.829 23.459 6.383C23.46 6.381 23.461 6.378 23.461 6.375C23.653 5.715 23.477 5.287 23.295 5.045C23.021 4.683 22.585 4.5 21.996 4.5H19.535C18.711 4.5 18.086 4.915 17.77 5.672C17.241 7.017 15.755 9.783 14.641 10.762C14.607 9.375 14.63 8.316 14.648 7.529C14.684 5.994 14.8 4.5 13.207 4.5H9.339C8.341 4.5 7.386 5.59 8.42 6.884C9.324 8.018 8.745 8.65 8.94 11.796C8.18 10.981 6.828 8.78 5.872 5.967C5.604 5.206 5.198 4.501 4.055 4.501H1.594C0.596 4.501 0 5.045 0 5.956C0 8.002 4.529 19.5 12.145 19.5ZM4.055 6.001C4.272 6.001 4.294 6.001 4.455 6.458C5.434 9.341 7.63 13.607 9.234 13.607C10.439 13.607 10.439 12.372 10.439 11.907L10.438 8.205C10.372 6.98 9.926 6.37 9.633 6L13.141 6.004C13.143 6.021 13.121 10.099 13.151 11.087C13.151 12.49 14.265 13.294 16.004 11.534C17.839 9.463 19.108 6.367 19.159 6.241C19.234 6.061 19.299 6 19.535 6H21.996H22.006C22.005 6.003 22.005 6.006 22.004 6.009C21.779 7.059 19.558 10.405 18.815 11.444C18.803 11.46 18.792 11.477 18.781 11.494C18.454 12.028 18.188 12.618 18.826 13.448H18.827C18.885 13.518 19.036 13.682 19.256 13.91C19.94 14.616 22.286 17.03 22.494 17.99C22.356 18.012 22.206 17.996 19.881 18.001C19.386 18.001 18.999 17.261 17.522 15.771C16.194 14.479 15.332 13.951 14.547 13.951C13.023 13.951 13.134 15.188 13.148 16.684C13.153 18.306 13.143 17.793 13.154 17.895C13.065 17.93 12.81 18 12.145 18C5.8 18 1.668 7.929 1.509 6.004C1.564 5.999 2.321 6.002 4.055 6.001Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0">
<rect width="24" height="24" fill="white"/>
</clipPath>
</defs>
</svg></a><a class="social__item" href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.5034 0H6.49657C2.9143 0 0 2.9143 0 6.49657V17.5036C0 21.0857 2.9143 24 6.49657 24H17.5036C21.0857 24 24 21.0857 24 17.5036V6.49657C24 2.9143 21.0857 0 17.5034 0V0ZM22.593 17.5036C22.593 20.3098 20.3098 22.593 17.5034 22.593H6.49657C3.69012 22.593 1.40698 20.3098 1.40698 17.5036V6.49657C1.40698 3.69012 3.69012 1.40698 6.49657 1.40698H17.5036C20.3098 1.40698 22.593 3.69012 22.593 6.49657V17.5036Z" fill="white"/>
<path d="M11.9999 5.4375C8.3814 5.4375 5.43762 8.38128 5.43762 11.9998C5.43762 15.6183 8.3814 18.5621 11.9999 18.5621C15.6184 18.5621 18.5622 15.6183 18.5622 11.9998C18.5622 8.38128 15.6184 5.4375 11.9999 5.4375ZM11.9999 17.1551C9.1574 17.1551 6.8446 14.8425 6.8446 11.9998C6.8446 9.15728 9.1574 6.84448 11.9999 6.84448C14.8426 6.84448 17.1553 9.15728 17.1553 11.9998C17.1553 14.8425 14.8426 17.1551 11.9999 17.1551Z" fill="white"/>
<path d="M18.7192 3.10693C17.6499 3.10693 16.7802 3.97687 16.7802 5.04602C16.7802 6.11535 17.6499 6.98528 18.7192 6.98528C19.7886 6.98528 20.6585 6.11535 20.6585 5.04602C20.6585 3.97668 19.7886 3.10693 18.7192 3.10693ZM18.7192 5.57812C18.4259 5.57812 18.1871 5.33935 18.1871 5.04602C18.1871 4.7525 18.4259 4.51391 18.7192 4.51391C19.0128 4.51391 19.2515 4.7525 19.2515 5.04602C19.2515 5.33935 19.0128 5.57812 18.7192 5.57812Z" fill="white"/>
</svg></a></div>
      </div><div class="col-12 wow fadeIn">
<div class="footer-bottom d-flex flex-column flex-lg-row align-items-center justify-content-between">
<span>2020 - креветка Джо</span><a class="deksis mt-3 mb-lg-0" href="https://deksis.ru">Разработка и поддержка сайта</a></div>
</div>
</div>
</div>
    </footer>
    <script src="js/main.min.js"></script>
  </body>
</html>

source/html/basket.pug
extends base.pug
block content
	- breadcrumbTitle = "Живой камчатский краб";
	include components/breadcrumb-area.pug
	div(class="basket")
		div(class="container")
			div(class="row pb-5")
				div(class="col-12")
					div(class="basket__item d-none d-lg-block")
						div(class="row")
							div(class="col-12 col-lg-1")
							div(class="col-12 col-lg-2 ")
								span(class="basket__section")
									| Продукт
							div(class="col-12 col-lg-3")
							div(class="col-12 col-lg-2 ")
								span(class="basket__section")
									| Цена
							div(class="col-12 col-lg-2 ")
								span(class="basket__section")
									| Количество
							div(class="col-12 col-lg-2 ")
								span(class="basket__section")
									| Всего
					- for (var i = 0; i < 3; i++)
						div(class="basket__item")
							div(class="row")
								div(class="col-12 col-lg-1 d-flex align-items-center")
									div(class="basket__delete")
										<svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
											<line x1="2.28148" y1="3.00146" x2="10.7668" y2="11.4867" stroke="#C58F59" stroke-width="3" stroke-linecap="round"/>
											<line x1="10.6064" y1="3.12132" x2="2.12116" y2="11.6066" stroke="#C58F59" stroke-width="3" stroke-linecap="round"/>
										</svg>
								div(class="col-12 col-lg-2 d-flex align-items-center")
									img(class="lazyload img-fluid" data-src="images/Crab-PNG-Picture 1.png" alt="img")
								div(class="col-12 col-lg-3 d-flex align-items-center py-3 py-lg-0")
									p
										| Краб камчатский
								div(class="col-12 col-lg-2 d-flex align-items-center pb-3 pb-lg-0")
									span(class="basket__price-one")
										| 719 руб.
								div(class="col-12 col-lg-2 d-flex align-items-center pb-3 pb-lg-0")
									div(class="count")
										div(class="count__minus")
											| -
										input(type="text" readonly value="1")
										div(class="count__plus")
											| +
								div(class="col-12 col-lg-2 d-flex align-items-center")
									span(class="basket__price-final")
										| 719 руб.
					div(class="d-flex justify-content-end py-5")
						span(class="basket__price-final")
							b
								| 3 376 руб.
			div(class="row")
				div(class="col-12 pb-5")
					h2(class="h2")
						| Ваши контактные данные
				div(class="col-12")
					<form class="delivery-form" action="" method="POST">
						div(class="row")
							div(class="col-12 col-lg-3 pb-5 pb-lg-0")
								<input class="input" type="text" placeholder="Ваше имя">
							div(class="col-12 col-lg-3 pb-5 pb-lg-0")
								<input class="input" type="text" placeholder="Телефон">
							div(class="col-12 col-lg-3 pb-5 pb-lg-0")
								<select class="minimal">
									<option>Доставка</option>
								</select>
							div(class="col-12 col-lg-3 pb-5 pb-lg-0")
								<input class="input" type="text" placeholder="Адрес доставки">
							div(class="col-12 pt-5 d-flex justify-content-end")
								button(type="submit" class="btn")
									| Оформить заказ
					</form>
		
